<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Event Invitation</title>
</head>
<body>
<div style="font-family: Arial, sans-serif; margin: 0; padding: 20px; background-color: #f4f4f4;">
  <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 style="text-align: center; color: #333;">You're Invited!</h2>
    <p>Dear <span th:text="${invitation.getGuest().getFirstName()} + ' ' + ${invitation.getGuest().getLastName()}">FirstName LastName</span>,</p>
    <p>We are excited to invite you to the following event:</p>
    <h3 style="color: #555;" th:text="${invitation.getEvent().getTitle()}">Event Title</h3>
    <p th:text="${invitation.getEvent().getDescription()}">Event Description</p>
    <p><strong>Date and Time:</strong> <span th:text="${invitation.getEvent().getStartTime()} + ' to ' + ${invitation.getEvent().getEndTime()}">Event Date and Time</span></p>
    <p><strong>Location:</strong></p>
    <p th:text="${invitation.getEvent().getAddress().getAddressLine1()}">Address Line 1</p>
    <p th:text="${invitation.getEvent().getAddress().getAddressLine2()}">Address Line 2</p>
    <p>
      <span th:text="${invitation.getEvent().getAddress().getCity()}">City</span>,
      <span th:text="${invitation.getEvent().getAddress().getState()}">State</span>
      <span th:text="${invitation.getEvent().getAddress().getZipCode()}">Zip</span>
    </p>
    <p>Please RSVP by clicking the link below:</p>
    <p style="text-align: center;">
      <a th:href="${invitationLink}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007BFF; text-decoration: none; border-radius: 5px;">RSVP Yes</a>
    </p>
    <p>We look forward to seeing you there!</p>
    <p>Best regards,
      <br><span th:text="${invitation.getEvent().getCreatedBy().getOrganizationName()}">Event Team</span>
      <br><a target="_blank" th:href="${invitation.getEvent().getCreatedBy().getOrganizationEmail()}" th:text="${invitation.getEvent().getCreatedBy().getOrganizationEmail()}"></a>
    </p>
  </div>
</div>
</body>
</html>
